<?xml version="1.0" encoding="utf-8"?>

<!-- 
    I take this nuget.config from this URL:
    https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file#example-config-file
    please visit this site for any further questions
-->

<configuration>

    <packageSources>
        <clear />
        <add key="my.nuget.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    
    <config>
        <!-- Proxy settings -->
        <add key="http_proxy" value="127.0.0.1:2080" />
        <!-- <add key="http_proxy.user" value="username" /> -->
        <!-- <add key="http_proxy.password" value="encrypted_password" /> -->
    </config>

    <packageRestore>
        <!-- Allow NuGet to download missing packages -->
        <add key="enabled" value="True" />

        <!-- Automatically check for missing packages during build in Visual Studio -->
        <add key="automatic" value="True" />
    </packageRestore>

</configuration>